<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/bulma.min.css" />
  </head>
  <body>
    Products Detail
    <div class="card">
      <div class="card-content">
        <%= product.title %> <%= product.price %> <%= product.description %>
        <div>
          <a href="/admin/products/<%= product._id %>/edit">Edit</a>
        </div>
        <form action="/admin/delete-product" method="post">
          <input name="id" type="hidden" value="<%= product._id %>" />
          <button type="submit" class="button is-danger mt-1">Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
